

.col-12{
    padding:150px 150px 10px 150px;
}
.carousel{
        width: 1000px;
        height: 500px;
    border: 1px solid red;
    overflow: hidden ;

}

.gallery{
    height:100%
}

.card{
    height:100%
}



.carousel img{
    object-fit: cover;
    width: 100%;
    height:100%;
    display:none;
}
    .carousel h1{
        display:none;
    }
    .carousel p{
        display:none;
    }

    .card{
        width: 100%;
        height: 1000px;
    }

.carousel img.active{
    display:block;
}

.fa-circle-arrow-left , .fa-circle-arrow-right {
   margin:10px;
   font-size:35px;
   cursor:pointer;
}

h1{
    position:absolute; 
  
    top:250px;
    left:210px;
    color:white;
    text-align: right;
    display: none;
}


p{
    position:absolute; 
    font-size:20px;
    top:300px;
    color:white;
    text-align: right;
    display: none;
    
}

#thumbnails{
    width:1000px;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#thumbnails img{
    width:19%;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.active{
    border:6px solid darkred;
    display:flex
}
