<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="S.Gianmaria Fatta" >
    <title>Carousel </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style..css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="js/script.js" ></script>
</head>
<body>
    <div class="container" id="root">
        <div class="row" >
            <div class="col-12 d-flex justify-content-center align-items-center">
                
                <!-- <span><i id="prev-button" class="fa-solid fa-circle-arrow-left fa-xl"></i></span>  -->

                <div id="carousel" class="carousel position-relative  ">
                    <div id="gallery" class="gallery ">
                        <img v-for="(pic, i) in pictures" :src="pic.image"  :alt="pic.title" :class="{'active' : i=== currentIndex} " >
                        
                    </div>
                </div>
                    
                <!-- <span><i id="next-button" class="fa-solid fa-circle-arrow-right fa-xl position-absolute "></i></span> -->
            </div>
            <div id="thumbnails" class="">
                <img v-for="(pic, i) in pictures" :src="pic.image"  :alt="pic.title" :class="{'active' : i=== currentIndex} ">
                
            </div>
        </div>
    </div>
    
</body>
</html>